#image {
	max-width: 600px;
	margin: 2em auto;
}

#image img {
	display: block;
	cursor: pointer;
}

#images {
	margin: 1em 0;
	overflow: hidden;
}

.image {
	float: left;
	margin: 0 5px 5px 5px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
