@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic);

body {
	background: #fff;
	color: #333;
	font: 1em 'Lato', sans-serif;
}

#login {
	margin: 1em;
}

#login *:focus {
	outline-style: none;
}

#login div {
	margin-bottom: 0.5em;
}

#login #pwd {
	width: 200px;
	font: 1em 'Lato', sans-serif;
	padding: 0.3em;
	border: 1px solid #ddd;
	background: #fff;
}

#login input[type="submit"] {
	font: 900 1em 'Lato', sans-serif;
	padding: 0.4em 1.3em;
	border: 2px solid #000;
	background: #fff;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;	
}