body {
	margin: 0;
	padding: 0;
}
#grid {
	margin: 0;
	width: 100%;
	overflow: hidden;
}

.image {
	margin: 0;
	float: left;
	box-sizing: border-box;
}

.image img {
	display: block;
	max-width: 100%;
	height: auto;
}
