#cookie-toolkit {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 3em;
	background: #000;
	color: #fff;
	z-index: 10000000000;
	display: none;
	transition: all 500ms ease-in;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
}

#cookie-toolkit.visible {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);	
}

#cookie-toolkit-wrap {
	margin: 0 auto;
	max-width: 960px;
	text-align: center;
}

#cookie-toolkit-text {
	padding: 0.5em 0;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1.3;
	margin-bottom: 0.5em;
}

#cookie-toolkit-btns {
	padding-bottom: 0.5em;
}

#cookie-toolkit-btns button {
	border: none;
	padding: 0.5em 1.5em;
	background: #c00;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	margin-right: 0.5em;
}